.logo{
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius:50%;
  }

  .navbar_edit_collapse{
    flex-grow: 0 !important;
  }

  .navbar_color{
    background-color: black;
    position : absolute;
    top : 0;
    left: 0;
    right: 0;
    height: 15vh;
  }
  .active{
    color: aquamarine;
    text-decoration: none;
  }
  .normal {
    color: white;
    text-decoration: none;
  }
  .normal:hover{
    color: aquamarine ;
  }
